// Styles for the user profile page


// Styles for Blocipedia Forms
a {
  color: black;
}

a:hover {
  color: gray;
}

.main {
  margin: 50px auto;
  padding: 8%;
  border: 6px solid;
  border-radius: 15px;
}
