// Styles for the Blocipedia welcome page
.logo {
  font-size: 12em;
}

.circle {
  margin: 35px auto 50px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 12px solid;
  text-align: center;
}

.box {
  border: 6px solid;
  border-radius: 10px;
  height: 200px;
  padding: 15px;
  margin-bottom: 50px;
}
